/* Global CSS for all pages */

* {
    box-sizing: border-box;
}

:root {
    font-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(133, 91, 236, 0.8);
}

nav h1 {
    font-size: 1.5rem;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;

}

main {
    padding: 2rem;
}

footer {
    background-color: none;
    padding: 1rem;
    text-align: center;
}