* {
  box-sizing: border-box;
}

h6 {
  font-size: 12px;
  font-family:'Belleza', sans-serif;
  margin: 0px;
}

center{
  font-family: 'Space Mono', monospace;
}

/* START NAV BAR */



header{
  background-color: #0000;
  color: rgba(133, 91, 236, 0.8);
  padding-top: 1%;
  font-size: 30px;
  font-family:'Rubik Moonrocks', cursive; 
}

.navbar-brand img {
  margin-right: 5px;
}

.navbar-brand span {
  color: #17a0bb;
}

.container-fluid {
  padding: 0;
}

.icon-color {
  color:  rgba(133, 91, 236, 0.8);;
  font-size: 3rem;
}

/* END NAV BAR -- START COVER */

.cover {
  position: relative;
  width: 100%;
  height: 100%;
}

#logo {
  position: absolute;
  top: 230px;
  text-align: center;
  z-index: 99;
  width: 100%;
}

#logo img {
  padding: 0;
}

#img-container {
  width: 100%;
  height: 700px;
  position: relative;
}

#img1 {
  background-image: url(img\vectorgalaxy.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

#img2 {
  background-image: url(img\vectorgalaxy.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

#img3 {
  background-image: url(img\vectorgalaxy.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}
/* END COVER -- START ABOUT ME */

#about {
  margin: 0 auto;
  background-color: rgba(133, 91, 236, 0.8);
  height: 100%;
  padding: 11% 28% 7% 28%;
}

#about h1 {
  font-family:'Major Mono Display', monospace;
  text-transform: lowercase;
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin: auto;
}

#about h1::after {
  content: " ";
  border: solid 1px #AAA;
  display: block;
  width: 30px;
  margin: 20px auto;
}

#about p {
  text-align: justify;
  color: whitesmoke;
  font-size: 14px;
  line-height: 26px;
  font-family:'Space Mono', monospace;;
  padding: 10% 0 0 0;
}

#about a {
  text-decoration: none;
  font-weight: strong;
  color: whitesmoke;
}

/* END ABOUT -- START MEDIA QUERIES */
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #about {
    padding: 13% 7% 10% 7%;
  }
}
/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #name {
    display: none;
  }
  .links {
    float: none;
  }
  .links li {
    width: 33%;
  }
  #logo h1 {
    display: none;
  }
  #design {
    display: none;
  }
  #logo {
    top: 230px;
  }
  #about {
    width: 100%;
    padding: 10% 80px 10% 80px;
  }
}
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #name {
    display: none;
  }
  .links {
    float: none;
  }
  .links li {
    width: 33%;
  }
  #logo h1 {
    display: none;
  }
  #design {
    display: none;
  }
  #logo {
    top: 230px;
  }
  #about {
    padding: 13% 7% 10% 7%;
  }
}
/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #name {
    display: none;
  }
  .links {
    float: none;
  }
  .links li {
    width: 33%;
  }
  #logo h1 {
    display: none;
  }
  #design {
    display: none;
  }
  #logo {
    top: 230px;
  }
  #about {
    width: 100%;
    padding: 10% 5% 10% 5%;
  }
}
/* ----------- iPhone 6 ----------- */
/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #about {
    padding: 13% 7% 10% 7%;
  }
}
/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #name {
    display: none;
  }
  .links {
    float: none;
  }
  .links li {
    width: 33%;
  }
  #logo h1 {
    display: none;
  }
  #design {
    display: none;
  }
  #logo {
    top: 230px;
  }
  #about {
    width: 100%;
    padding: 10% 80px 10% 80px;
  }
}
/* ----------- iPhone 6+ ----------- */
/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  #about {
    padding: 13% 7% 10% 7%;
  }
}
/* Landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  #name {
    display: none;
  }
  .links {
    float: none;
  }
  .links li {
    width: 33%;
  }
  #logo h1 {
    display: none;
  }
  #design {
    display: none;
  }
  #logo {
    top: 230px;
  }
  #about {
    width: 100%;
    padding: 10% 80px 10% 80px;
  }
}



/*  SECTIONS  */

.maincontent {
    clear: both;
    width: 80%;
    font-size: 0.8125em;
    max-width: 92.3em;
    margin: 0 auto;
    padding: 1em 0px;
    color: #c873ef67;
    line-height: 1.5em;
    position: relative;
}

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
  text-align: center;
}


/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 5% 0 2% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF FIVE*/

.span_1_of_5 img {
  width: 10rem;
  height: auto;
  display: inline-flex;
  margin-bottom: 10%;
  border-radius: 50%;
}

.span_1_of_5 h6 {
  color: #fff;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  font-size: 12px;
  margin: 0;
  padding: 0;
  border: 0;
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  
    margin: 1% 0 1% 0%;
    padding: 10% 0 10% 7%;
    display: inline-table;
    position: relative; }
  .span_1_of_4 { width: 100%; }
}


#meet-container {
  background-color: #17a0bb;
  width: 100%;
  height: 100%;
  padding: 8% 0 8% 0;
}

#meetteam-content {
  overflow: hidden;
}

#meetteam-content h1 {
  font-family:  'Major Mono Display', monospace;
  text-transform: lowercase;
  font-size: 40px;
  color: #fff;
  margin-bottom: 0;
  font-weight: strong;
  text-align: center;
}

#meetteam-content h1::after {
  text-align: center;
  content: " ";
  border: solid 1px whitesmoke;
  display: block;
  width: 30px;
  margin: 20px auto;
}

#meetteam-content h2 {
  font-family: 'Space Mono', monospace;
  font-size: 30px;
  color: whitesmoke;
  font-style: italic;
  text-align: center;
  line-height: 24px;
  margin-top: 40px;
  font-weight: normal;
}

#meetteam-content p {
  text-align: center;
  color: black;
  font-size: 14px;
  line-height: 26px;
  font-family: 'Space Mono', monospace;
}

.meet {
  text-align: center;
  color: black;
  font-size: 14px;
  line-height: 26px;
  font-family: 'Space Mono', monospace;
  padding: 1% 5% 0 5%;
}


/* END PORTFOLIO - START FOOTER */

#footer h6{
  font-family: 'Space Mono', monospace;
  font-size: large;
  font-weight: bold;
}

#footer {
  height: 2%;
  background-color: #fff;
  text-align: center;
}

#footer p#copyright {
  color: #888;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 10px 0;
}

#footer li {
  float: left;
  list-style: none;
  text-align: center;
  margin: 0 auto;
}

#footer img {
  padding: 0% 2px 0 2px;
  margin: 0 auto;
}

/* END FOOTER - START LIGHTBOX */

.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  right: 0;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}

.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

a.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
  top: 0px;
}

.btn-floating {
  display:flexbox;
  text-align: center;
  margin: 0 auto;
}

.container-fluid{
  display:contents;

}