/* Landing page styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  color: #333;
}

body {
  background-image: url("../img/milky-way-l.jpg");
  background-size: cover;
}


.btn{
  display:inline-block;
   margin-top: 15rem;
   margin-left: 35rem;
}


span{
  color: pink;
}

header{
  background-color: black;
}

.navbar-brand {
  color: whitesmoke;
}
