body {
  background-image: url("../img/vectorspace.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header {
  background: transparent;
  background: rgba(0, 0, 0, 0.8);
  padding-bottom: 0%;
  padding-top: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}

/* .navbar {
    background: transparent;
  } */

.navbar-brand {
  color: rgba(133, 91, 236, 0.8);
  padding-top: 1%;
  font-size: 30px;
  font-family:'Rubik Moonrocks', cursive; 
}

.navbar-brand img {
  margin-right: 5px;
}

.navbar-brand span {
  color: #17a0bb;
}

.container-fluid {
  padding: 0;
}

.container {
  background: transparent;
}

.card {
  background: transparent;
  border: none;
  margin-top: 45px;
}

.card-top {
  background: transparent;
}

.card-body {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  color: rgba(133, 91, 236, 0.8);
  border-radius: 11%;
  box-sizing: border-box;
}

div {
  margin: auto auto 10px auto;
}

label {
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
}

p, a{
  font-family: 'Space Mono', monospace;
}

.btn{
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
}