/* Posts page styles */
.post {
  margin-bottom: 20px;
}

.post .title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.post .content {
  margin-top: 10px;
  color: #666;
}
.mb-3 {
    margin: auto;
    width: 50%;
    padding: 10px;
  }


/* Add more posts page styles here */