
/* The card body */
body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

form {
    max-width: 400px;
    margin: 20px auto;
}

/* color of the whole page */
/* body {
    background-color: rgba(251, 121, 0, 0.995);
} */


/* images scroll code  */
.scroll-container {
    /* background-color: #fff; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
}

.scroll-container img {
    padding: 10px;
    transition: filter 0.3s ease;
    max-height: 90px;
    /* Set a maximum height for the images */
    margin-right: 10px;
    /* Optional margin between images */
}

.scroll-container img:hover {
    filter: brightness(70%);
  }