body {
    font-family: "Carme";
    background-color: #FFF4E2;
}

#logoBlue {
    margin: 0 auto;
    object-fit: cover;
    padding-left: 20em;
}

#username,
#fullname,
#password {
    outline: none;
    border: none;
    margin: 20px;
    padding-left: 60px;
    width: 529.76px;
    min-height: 70px;


    background: #FFFFFF;
    box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    text-align: start;
    color: #999999;
}

#username:focus,
#fullname:focus,
#password:focus {
    background-color: #fff7e2;
}

.input-group-text {
    border: none;
    width: 0;
    padding: 0;
    margin: 0;
}


#registerContainer {
    animation: container-load 300ms ease-in 300ms;
    position: absolute;
    display: flex;
    align-items: center;
    max-width: 943px;
    min-height: 652px;
    margin-top: 100px;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#submitButton {
    transition: all .2s ease-in-out; 
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 530px;
    height: 74.51px;
    background: #FFD35D;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);

    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    border-radius: 30px;

    color: #000000;
}

.form-check{
    padding-left: 70px;
}


#submitButton:hover {
    transform: scale(0.9); 
}

#submitButton:focus {
    background-color: #fff7e2;
}

/* Animation */
@keyframes container-load {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);

    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@media (min-width: 1400px) {}

@media (min-width: 992px) {}

@media (min-width: 576px) {}