/* Register Page CSS */
.custom-container {
    max-width: 500px;
    /* Adjust the width as per your needs */
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    background-color: rgba(166, 165, 163, 0.236);
    padding: 1%;
    border-radius: 20px;
    align-content: center;


}

main {
    min-height: calc(100vh - 100px);
}


body {
    min-height: 100%;
    background-image: url(../images/loginbg.png);
    background-color: rgb(255, 255, 255);
    background-size: cover;
    /* background-position: center;
       backdrop-filter: blur(7px) ; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.form-control {
    width: 100%; /* Adjust the width as needed */
    max-width: 300px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center horizontally */
  }
  
  .text-center {
    text-align: center;
  }

  .form-label {
    width: 100%;
    max-width: 300px; 
    margin: 0 auto;
  }