/* Global CSS for all pages */

* {
    /* Sizing helper: See Workbook 1b, page 2-33. */
    box-sizing: border-box;

    /* 
       Vizualization helper: While styling or debugging your HTML & CSS, 
       uncomment the rule below to see all the boxes on your page more
       clearly! (Remove this outline before submitting: users won't 
       want to see it!)
    */
    /* outline: 1px dotted red; */
}

:root {
    font-size: 1rem;
}

code{
    color: rgb(230, 130, 59);
  }

  #registerButton{
    background-color: rgb(159, 210, 38); /* Set the background color to pink */
  padding: 9px 15px; /* Adjust the padding to make it small */
  font-size: 15px; /* Adjust the font size to make it small */
  border: none; /* Remove the default button border */
  color: white; 
  }

  .formButton{

    background-color: rgb(159, 210, 38); /* Set the background color to pink */
      padding: 9px 15px; /* Adjust the padding to make it small */
      font-size: 15px; /* Adjust the font size to make it small */
      border: none; /* Remove the default button border */
      color: white; 
  }
 
  