/* Landing Page CSS */
.body {
  background-image: url("/images/background-flame.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .footerp {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: small;
}

.footerimage{
  display: flex;
  justify-content: center;
  height: 15em;
} */

.imgNavbar{
  margin-left: 15pt;
  size: 20pt;
}

.imgDescription {
  font-size: medium;
  color: #5a0303;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  position: absolute;
}
 .imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: .3;
 }

.loginMain {
  margin-top: 80pt;
}