/* Landing Page CSS */


h1 {
    text-align: center;
    padding: 25px;
}
#login {

    text-align: center;
    background-color: #ffffff;
    padding: 15px;
    margin-left: 50rem;
    margin-right: 50rem;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.box input  {
    padding: 5px;
    margin: 5px;

}
.button button {
    margin: 10px;
}



/* footer css */
footer {
    text-align: center;
    padding: 5px;
    background-color: #30c3d6;
    color: #000;
  }
  
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10
    .5rem;            /* Footer height */
  }

  
  /* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } */

  footer{
    background-color: #2fafe2;
  }


  .socialIcons{
    display: flex;
    justify-content: center
  }

  .socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }

  .socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
  }
.footerNav ul{
    display: flex;
    justify-content: center;


}

.footerNav ul li {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5;
}