/* Landing Page CSS */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 300px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

div {
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

header { 
    text-align: center;
}

h3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

main > div{
    margin-right: 20%;
}

h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

p {
  font-family: 'Bungee Spice', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
}

