 /* Landing Page CSS */
body {
    font-family: "Carme";
    background-color: #FFF4E2;
}

#logoBlue {
    max-width: 203px;
    min-height: 155px;
    margin: 0 auto;
    left: 602px;
    top: 174px;
    object-fit: cover;
}

#username,
#password {
    outline: none;
    border: none;
    position: relative;
    margin: 20px;
    width: 529.76px;
    height: 70px;


    background: #FFFFFF;
    box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#username,
#password {
    padding-right: 295px;
    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    text-align: justify; 

    color: #999999;
}


#login-container { 
    animation: container-load 300ms ease-in 300ms;
    position: absolute;
    max-width: 943px;
    min-height: 652px;

    top: 154px;
    left: 241px;  

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#loginButton {
    margin-left: 20px;
    margin-top: 50px;
    width: 530px;
    height: 74.51px;
    left: 454px;
    top: 655px;
    background: #FFD35D;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#loginbutton {
    left: 40.41%;
    right: 40.34%;
    top: 32.86%;
    bottom: 32.86%;

    font-family: 'Carme';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

#forget-password {
    color: black;
    text-decoration: none;
}

#forget-password:hover {
    color: #003CD6;
}

#no-account {
    margin-top: 10px;
}

#sign-up {
    text-decoration: none;
}

/* Animation */
@keyframes container-load{
    from{
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        
    }
    to{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}