* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  padding: 35px 0px;
}

.main {
  background-color: white;
  border: 1px solid #dbdbdb;
  width: 350px;
  height: 396px;
  margin: auto;
}

.first {
  height: 30%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
}

.second {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  text-align: center;
}

.second input {
  background-color: #fafafa;
  width: 258px;
  padding: 9px 0px 7px 8px;
  border: 1px solid #dbdbdb;
  font-size: 13px;
  border-radius: 3px;
  margin-top: 6px;
}

.second button {
  background-color: #0095f6;
  border: 1px solid transparent;
  border-radius: 3px;
  opacity: 0.3;
  color: white;
  width: 268px;
  font-weight: 600;
  padding: 5px;
  font-size: 14px;
}

/* .second span {
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: space-between;
} */

span p {
  position: relative;
  bottom: 5px;
  color: #dbdbdb;
}

.fb {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.fb img {
  width: 16px;
  height: 16px;
}

h5 {
  color: #385185;
}

small {
  color: #00376b;
  font-size: 12px;
}

/* a {
  display: inline-block;
}

p {
  padding-top: 10px;
} */

.sub {
  width: 350px;
  height: 65px;
  background-color: white;
  border: 1px solid #dbdbdb;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.sub span {
  color: #0095f6;
  font-weight: 600;
  cursor: pointer;
}

.apps img {
  width: 35%;
  height: auto;
}

.footer {
  margin: 40px auto;
  padding-bottom: 70px;
  width: 873px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-wrap: wrap;
  color: #8e8e8e;
  font-size: 12px;


}