/* Landing Page CSS - style for index. */


body {
    background-image: url("/media/homebg.png");
    background-size: 100%;
    
}

 .btn{
   color: white;
   background-color: rgb(255, 11, 157);
   outline: none;
   padding-top: 0.3rem;
   padding-bottom: 0.3rem;
   font-weight: bold;
   font-style: italic;
   font-family:
}

