
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height*/
  width: 400px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar */
  
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ecebeb; 
  padding-top: 20px;

}

/* The content of left side bar card contents */

img.profile-pic{
  width: auto;
  height: 160px;
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-top: 3%;
  border-radius: 30%;
  border: 3px solid rgb(213, 36, 92);
}
h4#username{
display: flex;
justify-content: center;
margin-right:15%;
margin-top: 5%;
}
div.follower-container{
display:flex; 
flex-direction: row; 
justify-content: space-around;
margin-top: 10px;
font-weight:bolder;
font-size: small;
}
img#cardProfilepic{
  width: auto;
  height:50px;
  border-radius: 30%;
  border: 1px solid rgb(246, 144, 203);
 
}




/* main Style page content */
.main {
  display: flex;
  justify-content: center;
}

/* On smaller screens, where height is less than 450px */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.online-friends-list {
           
  padding: 10px;
  list-style-type: none;
  display: inline-block;
  margin-top: 10%;
}

.online-friends-list li {
  margin-bottom: 10px;
}

.online-friends-list li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #FF1CA8;
}

.online-friends-list li .username {
  margin-left: 10px;
}

.online-indicator {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}