body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* #logo {
    display: flex;
    justify-content: center;
  } */
  
  .profile-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .post {
    border-radius: 9px;
  }
  
  .header {
    text-align: center;
  }
  
  .title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .profile-header {
    text-align: center;
  }
  
  .profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-posts {
    margin-top: 20px;
  }
  
  .post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .post-date {
    font-style: italic;
    color: #888;
  }
