<html lang="en">
	<head>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Send User to landing site  -->
		<script>
			location.href = "landing/";
		</script>
		<title>Bookface</title>
	</head>
	<body style="background: #212529;"></body>
</html>
