---
import Navbar from "../components/Navbar.astro";
import Page from "../layouts/Page.astro";
import Feed from "../components/Feed.jsx";

const title = "Feed";
---

<Page title={title}>
	<Navbar currentPage={title} />
	<main class="container mt-5" style="max-width: 1200px">
		<div class="row align-items-center col-12 mx-auto">
			<div id="posts" class="col-12 mx-auto"></div>
		</div>
		<Feed client:only/>
	</main>
	<!-- <script>
		import "../js/posts.js";
	</script> -->
</Page>
