---
import "../styles/terms.css";
import Page from "../layouts/Page.astro";
import Footer from "../components/Footer.astro";

const title = "Terms and Conditions";
---

<Page title={title}>
	<section class="container mb-5">
		<div class="row my-5 shadow p-5 bg-dark-subtle shadow my-5">
			<div class="col-12 col-lg-6 mx-auto " style="max-width: 800px;">
				<h3 class="display-4 m-0 py-0 mb-3 text-primary">
					Terms and Conditions
				</h3>
				<p>
					Welcome to <span class="text-primary">DevBits</span>. By entering
					this zone of endless coding jokes and developer memes, you hereby
					agree to embark on a journey of binary humor and coffee-fueled
					discussions.
				</p>

				<p>
					<h6>User Responsibilities:</h6> You are responsible for the wit and charm
					you bring to the community. Lame jokes are strictly prohibited; violators
					will be sentenced to a lifetime of debugging legacy code.
				</p>

				<p>
					<h6>Intellectual Property:</h6> All your witty one-liners and clever code
					snippets belong to you, but don't be surprised if someone decides to use
					them. This is a playground for sharing, after all.
				</p>

				<p>
					<h6>Community Etiquette:</h6> Treat others as you want to be treated. Remember,
					every semicolon is sacred, and every curly brace has feelings. No cyber-bullying
					or shaming fellow devs for their choice of programming language. Code of
					Conduct:
				</p>

				<p>
					<h6>Code of Conduct:</h6> Thou shalt not steal someone else's code without
					proper attribution. Kata points will be deducted , and your console will
					be haunted by infinite loops.
				</p>

				<p>
					<h6>Termination of Account:</h6> Accounts may be terminated for excessive
					use of "goto" statements or for attempting to fix bugs by sacrificing rubber
					chickens. Be reasonable, people.
				</p>
			</div>

			<div class="col-12 col-lg-6 mx-auto " style="max-width: 800px;">
				<h3 class="display-4 m-0 py-0 mb-3 text-primary">Privacy Policy</h3>

				<p>
					<h6>Data Collection:</h6>

					We collect data on your favorite programming languages, preferred text
					editors, and the number of rubber ducks in your coding space. This
					information is purely for statistical purposes and occasional laughs.
				</p>

				<p>
					<h6>Cookies:</h6>
					Cookies are not just for breakfast. Ours are used to improve your user
					experience, not for secret midnight snacking. Please enjoy responsibly.

					<p>
						<h6>Third-Party Integrations:</h6>
						We integrate with third-party platforms only to enhance your coding adventures.
						Rest assured, your code snippets are safe from any unauthorized refactoring.
					</p>

					<p>
						<h6>Security Measures:</h6>
						We guard your data with the same level of intensity a developer guards
						their caffeine stash during a hackathon. However, we cannot guarantee
						the safety of your code from the occasional coffee spill.
					</p>
					<p>
						<h6>Notifications:</h6>
						Expect notifications about new followers, witty comments, and the occasional
						reminder to stand up, stretch, and blink. Your well-being is our concern,
						even if your code does not have bugs.
					</p>
				</p>
			</div>
		</div>
		<div class="row my-5 ">
			<a href="/registration" class="btn btn-primary mx-auto w-auto">Accept</a>
		</div>
	</section>

	<Footer />
</Page>
