---
import Post from "../components/Post.astro";
---

<!-- Template --->
<section class="container-fluid my-4">
	<div class="row gap-2 m-0">
		<article
			class="card col-sm-2 col-12 shadow"
			style={{ minHeight: 1000 + "px", minWidth: 10 + "rem" }}
		>
		</article>
		<div class="col-sm col-12">
			<div id="cardHolder" class="row gap-2">
				{
					Array(10)
						.fill(0)
						.map(() => <Post />)
				}
			</div>
		</div>
	</div>
</section>
