---
const currentYear = new Date().getFullYear()
---

<footer class="w-100 position-relative align-self-end bg-dark-subtle py-3">
	<p class="text-body-secondary m-auto p-0 text-center m-0">
		DevBits &copy 2023 - {currentYear}
	</p>
</footer>
