/* Landing Page CSS */
.input-group-horizontal .form-floating:first-child > input{
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin-bottom: -1px;
}

.form-group .form-floating:last-child > input{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.form-group .form-floating:focus-within {
  z-index: 2;
}
