/* Posts Page CSS */
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

body {
  background-image: url(../assets/nadine-primeau--ftWfohtjNw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  user-select: none;
  font-family: "Open Sans";
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

header {
  font-family: "Montserrat";
  background-color: rgba(0, 0, 0, 0.753);
  margin-left: auto;
  margin-right: auto;
  min-width:165px;
  white-space: nowrap;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  backdrop-filter: blur(3px);
}

.navbar {
  display:flex;
  justify-content: space-around;
}

.navbar-brand {
  margin-right: 10rem;
}
.nav-link {
  margin-top: 10px;
}

.homeLogo{
  width: 150px;
}


main {
  margin: 80px 12rem 40px 12rem;
}

.card {
  background-color: rgba(0, 0, 0, 0.562);
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 800px) {
  main {
    margin:3rem !important;
  }

  .postQ {
    margin-left: 1rem;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  #profileLink {
    margin-left: 8rem;
  }
}

.card-title {
  font-size: 25px;
  font-weight:bold;
}
.card-text{
  font-weight: lighter;
}

#buttonArea{
  display: flex;
}
#addPostButton{
  margin-left: 10px;
}

#uploadButton {
  margin-left: 10px;
}
#postTextarea{
  color: #000;
}

.img-fluid {
  margin: auto;
  margin-top: 3rem;
  border-radius: 20px;
  width: 350px;
  margin-bottom: 25px;
}

.container{
  margin-top: 12rem;
}

.EmojiBtn {
  font-size: 23px;
  text-align: center;
  display: flex;
  justify-content: center;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
}

#emojiContainer {
  border-radius: 20px;
  z-index: 99;
  width: 100%;
  margin-right:50px;
  height: 40vh;
  overflow: scroll;
  scrollbar-width: 5px;
  padding: 8px;
  background-color: rgba(95, 95, 95, 0.589);
  backdrop-filter: blur(10px);
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

#emojiContainer span {
  text-align: center;
  font-size: 35px;
  flex-basis: 10%;
  transition: all 0.5s;
}
#emojiContainer span:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 10px;
}
#emojiContainer span:active {
  transform: scale(0.9);
}
.hide {
  display: none !important;
}

.slideDown {
  animation: slideDown 0.5s ease forwards 1;
}
@keyframes slideDown {
	from {opacity: 0; transform: translateY(-10%);}
  to {opacity: 1; transform: translateY(0);}
}

.resetBtn {
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  background-color: rgb(223, 221, 221);
  border: none;
  
}

.post-date {
  position: absolute;
  color: rgb(0, 0, 0);
  top: 0;
  right: 0;
  padding: 2px 5px;
  background-color: rgba(255, 255, 255, 0.658);
  border-radius:0px 18px 0 18px;
}

/* loading */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* load end */

.btn-success {
  display: flex;
  align-items: center;
  justify-content: center;
}

#postContainer {
  background-color: rgba(78, 78, 78, 0.582);
  backdrop-filter: blur(5px);
  padding: 30px 10px;
  border-radius: 20px;
  display: grid;
  gap: 20px;
}

#imagePreview{
  max-width: 300px;
  background-color: #0000008d;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.userInfo {
  border-radius: 20px;
}

#add-post {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}
.fa-solid {
  margin-right: 6px;
}
/* back to top */

.backToTop {
  background-color: rgba(78, 78, 78, 0.582);
  padding: 5px 10px;
  width: fit-content;
  border-radius: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: all 0.5s;
}
.backToTop img {
  width: 30px;
}

.backToTop:hover {
  transform: scale(1.1);
  background-color: rgba(168, 168, 168, 0.582);
  
}
.card-body {
  display: grid;
  align-items: center;
  gap: 5px;
  margin: 15px 0;
}
.card-text, .card-title {
  margin: 0;
}
/* like funcitonality */
.card-subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  position: absolute;
  right: 20px;
  bottom: 10px;
  background-color: rgba(78, 78, 78, 0.582);
  padding: 3px 15px;
  border-radius: 7px;
  user-select: none;
}

.likeBtn, .dislikeBtn {
  width: 30px;
  transition: all 0.5s;
}

#spanElLike ,#spanElDislike {
  width: 10px;
  padding: 0 12px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
#spanElLike {
  border: 1px solid rgba(0, 128, 0, 0.425);

}
#spanElDislike {
  border: 1px solid rgba(255, 0, 0, 0.308);

}

.likeBtn:hover {
  animation: bounce 0.8s ease-in-out backwards 2;
  cursor: pointer;
}

.likeBtn:active, .dislikeBtn:active {
  transform: scale(0.89);
}
@keyframes bounce {
  0%{transform: translateY(0);}
  25%{transform: translateY(-6px);}
  50%{transform: translateY(-1px);}
  75%{transform: translateY(-6px);}
  100%{transform: translateY(0);}
}
.dislikeBtn:hover {
  animation: bounceDown 0.8s ease-in-out forwards 2;
  cursor: pointer;
}

@keyframes bounceDown {
  0%{transform: translateY(0);}
  25%{transform: translateY(6px);}
  50%{transform: translateY(1px);}
  75%{transform: translateY(6px);}
  100%{transform: translateY(0);}
}
