/* Posts Page CSS */
.bodyNav {
  background-image: url("/images/background-flame.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* .footerp {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: small;
  }
  
  .footerimage{
    display: flex;
    justify-content: center;
    height: 15em;
  } */

.imgNavbar {
  margin-left: 15pt;
  size: 20pt;
}

.imgDescription {
  font-size: medium;
  color: #5a0303;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  position: absolute;
}
.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 0.3;
}
.main {
  margin-top: 80pt;
}

#textbox {
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20pt;
  width: 75%;
  border-style: none;
  background-color: #f5f3e3;
}

.inputFields {
  text-align: center;
}

#postBtn {
  margin-bottom: 10pt;

  border-radius: 5px;
  border-style: none;
  width: fit-content;
  height: fit-content;
  background-color: #ef467000;
}

.card {
  margin-bottom: 10pt;
}

#likeBtn {
  margin-top: 10pt;
  margin-left: 10pt;
  margin-bottom: 10pt;
}

.card-text {
  margin-top: 20pt;
  margin-left: 20pt;
}

.card-title {
  margin-top: 10pt;
  margin-left: 5pt;
}

#postCards {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #f5f3e3;
  border: #a32645 solid;
}

nav {
  background-color: #f5f3e3;
}
#pageBtm {
  background-color: #5a030300;
}
.pagination {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
#previousPage {
  text-align: center;
  width: 100px;
  color: #5a0303;
  font-size: larger;
  margin-right: 5px;
  border: solid 3px #5a0303;
  background-color: #f5f3e3;
}
#nextPage {
  text-align: center;
  width: 100px;
  color: #5a0303;
  font-size: larger;
  margin-left: 5px;
  border: solid 3px #5a0303;
  background-color: #f5f3e3;
}
