/* Global CSS for all pages */

* {
    box-sizing: border-box;
    /* outline: 1px dotted red; */
}

:root {
    font-size: 1rem;
}

.btn-primary{
    background: #8a8432;
    border-color: #c5b90a;
    transition-duration: 100ms;
}

.btn-primary:hover{
    background: #b3aa36;
    border-color: #ffee00;
}

.btn-primary:focus{
    background: #978f20 !important;
    border-color: #a59a05 !important;
}

.btn-primary:active{
    background: #928b25 !important;
    border-color: #a59a05 !important;
}

.btn-primary:disabled{
    background: #77733f !important;
    border-color: #b9af3c !important;
    color: lightgray;
}

body{
    font-family:'Courier New', Courier, monospace;
    /* line-height: normal; */
}

h1{
    text-indent: -3px;
}