/* Global CSS for all pages */

* {
    box-sizing: border-box;
    /* outline: 1px dotted red; */
}

:root {
    font-size: 1rem;
}

.btn-primary{
    background: #8a8432;
    border-color: #c5b90a;
    transition-duration: 100ms;
}

.btn-primary:hover{
    background: #bbb013;
    border-color: #ffee00;
}

.btn-primary:focus{
    background: #928904 !important;
    border-color: #a59a05 !important;
}

.btn-primary:active{
    background: #928904 !important;
    border-color: #a59a05 !important;
}

.btn-primary:disabled{
    background: #7e7605 !important;
    border-color: #a59a05 !important;
    color: lightgray;
}

body{
    font-family:'Courier New', Courier, monospace;
}