/* nav bar */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .Title {
	color: rgb(255, 255, 255);
	font-size: 30px;
	padding: 10px 20px;
  }
  nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
  }
  nav ul li a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-weight: bold;
  }
  a {
	color: rgb(10, 148, 203);
  }
  
  body {
	background-color: black;
	color: rgb(10, 148, 203);
  }

  /*Post Bar */
input[type=text] {
	width: 45%;
	resize: none;
}
#capturePost {
	margin-left: 20%;
	margin-right: 15px;
	padding: 12px 20px;
}

/* Post cards */ 
.card {
	width: 600px;
	border-color: black;
	margin-top: 15px;
}

.card-header {
	font-weight: bold;
}
.card-body {
	color:black;
}
.container {
	display: flex;
	justify-content: center;
}